In [1]:
import pandas as pd
data=pd.read_csv('Premier_League.csv')
data=data[['Home Team', 'Away Team', 'Goals Home', 'Away Goals', 'home_chances', 'away_chances', 'home_saves', 'away_saves', 'home_blocked', 'away_blocked']]
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13716\208725023.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Home Team,Away Team,Goals Home,Away Goals,home_chances,away_chances,home_saves,away_saves,home_blocked,away_blocked
0,Arsenal,Wolverhampton Wanderers,5,0,3,0,0,3,2,2
1,Aston Villa,Brighton and Hove Albion,2,1,4,3,3,3,2,1
2,Brentford,Manchester City,1,0,2,1,2,3,3,8
3,Chelsea,Newcastle United,1,1,2,2,3,5,8,4
4,Crystal Palace,Nottingham Forest,1,1,1,0,3,2,4,1
...,...,...,...,...,...,...,...,...,...,...
375,Leeds United,Wolverhampton Wanderers,2,1,2,1,5,3,3,3
376,Newcastle United,Nottingham Forest,2,0,2,0,0,7,5,2
377,Tottenham Hotspur,Southampton,4,1,1,0,1,5,4,3
378,Everton,Chelsea,0,1,0,1,5,3,1,6
379,Crystal Palace,Arsenal,0,2,2,1,1,2,6,4

In [2]:
data.describe() #wygenerowanie podstawowych statystyk (informacji) na temat danych
data.isnull() #sprawdzenie czy w zbiorze danych nie występują błędy (np. wartości null)

,Home Team,Away Team,Goals Home,Away Goals,home_chances,away_chances,home_saves,away_saves,home_blocked,away_blocked
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
375,False,False,False,False,False,False,False,False,False,False
376,False,False,False,False,False,False,False,False,False,False
377,False,False,False,False,False,False,False,False,False,False
378,False,False,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False,False

In [6]:
corr_data=data[['Goals Home', 'Away Goals', 'home_chances', 'away_chances', 'home_saves', 'away_saves', 'home_blocked', 'away_blocked']]
corr_data.corr() #wyznaczenie korelacji pomiędzy istotnymi danymi 
#komentarz: najwyższe współczynniki korelacji między kolumnami "Goals Home" i "home_chances", oraz "Away Goals" i "away_chances" wynoszą odpowiednio 0.45 i 0.49
# wskazuje na umiarkowaną dodatnią korelację między tymi parametrami. Nie jest to bardzo silna korelacja, więc można przypuszczać, że te czynniki wpływają na siebie, ale nie jest to jednoznaczne.

,Goals Home,Away Goals,home_chances,away_chances,home_saves,away_saves,home_blocked,away_blocked
Goals Home,1.000000,-0.062236,0.450181,-0.087388,-0.052215,0.052527,0.128249,-0.117929
Away Goals,-0.062236,1.000000,-0.163893,0.494109,0.026744,-0.044966,0.024464,0.016717
home_chances,0.450181,-0.163893,1.000000,-0.089477,-0.003239,0.250894,0.169429,-0.158159
away_chances,-0.087388,0.494109,-0.089477,1.000000,0.228954,-0.083547,-0.029039,0.062747
home_saves,-0.052215,0.026744,-0.003239,0.228954,1.000000,-0.119374,-0.144737,0.289266
away_saves,0.052527,-0.044966,0.250894,-0.083547,-0.119374,1.000000,0.302127,-0.146873
home_blocked,0.128249,0.024464,0.169429,-0.029039,-0.144737,0.302127,1.000000,-0.280942
away_blocked,-0.117929,0.016717,-0.158159,0.062747,0.289266,-0.146873,-0.280942,1.000000